<div class="flex flex-col p-6">
  <h2 mat-dialog-title class="mb-6 text-xl font-semibold">Efetuar Manutenção</h2>

  <mat-dialog-content class="flex flex-col space-y-6 w-full">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Descrição da Manutenção</mat-label>
      <textarea
        matInput
        [formControl]="maintenceDescription"
        placeholder="Descreva detalhadamente a manutenção realizada no equipamento."
        rows="10"
        class="resize-none"
        style="width: 100%"
        aria-label="Descrição da Manutenção"
      >
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Orientações ao Cliente</mat-label>
      <textarea
        matInput
        [formControl]="clientGuidance"
        placeholder="Informe aqui quaisquer orientações importantes para o cliente."
        rows="10"
        class="resize-none"
        style="width: 100%"
        aria-label="Orientações ao Cliente"
      >
      </textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions class="mt-8 pt-6 border-t border-gray-200">
    <div class="w-full flex flex-row justify-end space-x-3">
      <button mat-stroked-button type="button" (click)="cancel()" class="px-5 py-2">Cancelar</button>
      <button mat-raised-button color="primary" (click)="submit()" class="px-5 py-2">Confirmar</button>
    </div>
  </mat-dialog-actions>
</div>
