<div class="sidenav" [class.sidenav-collapsed]="isSidebarCollapsed()">
  <div class="logo-container">
    <button mat-icon-button class="btn-transparent" (click)="toggleCollapse()">
      <mat-icon>menu</mat-icon>
    </button>
    @if (!isSidebarCollapsed()) {
      <div class="logo-text">Menu</div>
      <button mat-icon-button class="btn-transparent" (click)="closeSidenav()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>

  <ul class="sidenav-nav">
    @for (item of items; track item.routeLink) {
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          [routerLink]="item.routeLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <mat-icon class="sidenav-link-icon">{{ item.icon }}</mat-icon>
          @if (!isSidebarCollapsed()) {
            <span class="sidenav-link-text">{{ item.label }}</span>
          }
        </a>
      </li>
    }
  </ul>

  <div class="sidenav-footer">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item">
        <button class="sidenav-nav-link" (click)="logout()">
          <mat-icon class="sidenav-link-icon">logout</mat-icon>
          @if (!isSidebarCollapsed()) {
            <span class="sidenav-link-text">Sair</span>
          }
        </button>
      </li>
    </ul>
  </div>
</div>
