<h2 mat-dialog-title>Redirecionar Manutenção</h2>

<mat-dialog-content>
  <p>Selecione o funcionário para o qual deseja redirecionar esta solicitação:</p>

  Control value: {{ myControl.value || 'empty' }}

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Funcionário</mat-label>
      <input
        #input
        type="text"
        placeholder="Selecione um funcionário"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
        (input)="filter()"
        (focus)="filter()"
      />
      <mat-autocomplete requireSelection #auto="matAutocomplete">
        @for (option of filteredOptions; track option) {
          <mat-option [value]="option">{{ option }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="!options.includes(myControl.value!)" (click)="confirmar()">
    Confirmar
  </button>
</mat-dialog-actions>
