<div class="p-4 md:p-8">
  <h2 class="text-xl font-bold mb-4">Gerenciar Funcionários</h2>

  <form #form="ngForm" [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="grid gap-4 md:grid-cols-2">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="employeeForm.get('name')?.hasError('required')"> Nome obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" required type="email" />
      <mat-error *ngIf="employeeForm.get('email')?.hasError('required')"> Email obrigatório</mat-error>
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')"> Email inválido</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input
        matInput
        name="birthDate"
        [formControlName]="'birthDate'"
        [matDatepicker]="picker"
        (input)="formatDate($event)"
        maxlength="10"
        required
      />
      <mat-error *ngIf="employeeForm.get('birthDate')?.hasError('required')"> Data de Nascimento obrigatória</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!selectedEmployee">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" type="password" required />
      <mat-error *ngIf="employeeForm.get('password')?.hasError('required')"> Senha obrigatória</mat-error>
    </mat-form-field>

    <div class="md:col-span-2">
      <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">
        {{ selectedEmployee ? 'Atualizar' : 'Adicionar' }} Funcionário
      </button>
    </div>
  </form>

  <div class="mt-8">
    <h3 class="text-lg font-semibold mb-2">Lista de Funcionários</h3>
    <table mat-table [dataSource]="employees" class="w-full mat-elevation-z2">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let emp">{{ emp.name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-mail</th>
        <td mat-cell *matCellDef="let emp">{{ emp.email }}</td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Nascimento</th>
        <td mat-cell *matCellDef="let emp">{{ emp.birthDate | date }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let emp">
          <button mat-icon-button color="accent" (click)="editEmployee(emp)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(emp.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'email', 'birthDate', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name', 'email', 'birthDate', 'actions']"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="totalElements"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25]"
    (page)="onPageChange($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
