<app-base-maintenance-request-list>
  <button
    toolbar-extra-actions
    mat-fab
    color="accent"
    [matMenuTriggerFor]="downloadMenu"
    matTooltip="Baixar Relatórios"
    aria-label="Opções de download de relatório"
  >
    <mat-icon>download</mat-icon>
  </button>
  <mat-menu #downloadMenu="matMenu">
    <button mat-menu-item (click)="handleMenuAction('revenue_by_category_report')">
      <mat-icon>picture_as_pdf</mat-icon>
      <span>Relatório de Receitas</span>
    </button>
    <button mat-menu-item (click)="handleMenuAction('filtered_revenue_report')">
      <mat-icon>picture_as_pdf</mat-icon>
      <span>Relatório de Receitas por Categoria</span>
    </button>
  </mat-menu>
</app-base-maintenance-request-list>
