<div class="center-square-container">
  <mat-card class="budget-approve.component-card">
    <mat-card-header style="display: flex; justify-content: center; align-items: center;">
      <mat-card-title style="text-align: center;"><strong>Detalhes do Serviço</strong></mat-card-title>
    </mat-card-header>   
    <mat-card-content>
      <div class="info-item">
        <p>Equipamento: Notebook Dell Inspiron 15</p>
      </div>
      <div class="info-item">
        <p>Categoria: Notebook</p>
      </div>
      <div class="info-item">
        <p>Defeito: Não liga.</p>
      </div>
      <div class="info-item">
        <p>Data/Hora: 11/04/2025 10:45</p>
      </div>
      <div class="info-item">
        <p><strong>Preço Orçado:</strong> <span class="highlight">R$ 735,90</span></p>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="action-buttons" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
      <button mat-flat-button color="primary">Aprovar Serviço</button>
      <button mat-flat-button color="warn">Rejeitar Serviço</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="observacoes-card">
    <mat-card-header>
      <mat-card-title>Observações</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        Cliente informou defeito na placa-mãe.
      </p>
    </mat-card-content>
  </mat-card>
</div>
