<div class="center-square-container">
  <mat-card class="budget-approve.component-card">
    <mat-card-header style="display: flex; justify-content: center; align-items: center">
      <mat-card-title style="text-align: center"><strong>Detalhes do Serviço</strong></mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="info-item">
        <p><strong>Equipamento:</strong> {{ budgetRequest.equipamento }}</p>
      </div>
      <div class="info-item">
        <p><strong>Categoria:</strong> {{ budgetRequest.categoria }}</p>
      </div>
      <div class="info-item">
        <p><strong>Defeito:</strong> {{ budgetRequest.defeito }}</p>
      </div>
      <div class="info-item">
        <p><strong>Data/Hora:</strong> {{ budgetRequest.dataHora }}</p>
      </div>
      <div class="info-item">
        <p><strong>Preço Orçado:</strong> <span class="highlight">R$ {{ budgetRequest.precoOrcado }}</span></p>
      </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions class="action-buttons" style="display: flex; justify-content: center; gap: 10px">
      <button mat-flat-button color="primary" (click)="onApprove()">Aprovar Serviço</button>
      <button mat-flat-button color="warn" (click)="onReject()">Rejeitar Serviço</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="observacoes-card">
    <mat-card-header>
      <mat-card-title>Observações</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ observations }}</p>
    </mat-card-content>
  </mat-card>
</div>
